* {
    margin:0;
    padding: 0;
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    background-color: rgb(0, 183, 255);
    font-size: 14px;
}

input {
    border: 0 none;
    outline-style: none;
}

